{% extends "booking/base.html" %}

{% block title %}
Бронювання
{% endblock %}

{% block content %}
<style>
    input {
        border: 2px solid cadetblue
    }
    input:user-invalid {
        border-color: red;
    }

    
    .card-my {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 20px auto;
        text-align: left;
    }

    
    .card-my h3 {
        text-align: center;
        font-family: 'Arial', sans-serif;
        color: #333;
        margin-bottom: 20px;
    }

    
    .form-group-my {
        margin-bottom: 15px;
    }

    .form-group-my label {
        font-size: 16px;
        color: #555;
        margin: 5px;
    }

    
    .form-control-my {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        transition: all 0.3s ease;
    }

    .form-control-my:focus {
        border-color: #71a298;
        box-shadow: 0 0 5px rgba(113, 162, 152, 0.5);
        outline: none;
    }

    
    .btn-my {
        border: none;
        background-color: #5b8f7e;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease;
    }

    .btn-my:hover {
        background-color: #417a67;
    }

</style>

<center>
    <div class="card-my" style="max-width: 500px;">
        <h3>Заповніть форму для броні</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group-my">
                <label for="id_client">Прізвище та ім'я:</label>
                {{ form.client }}
            </div>
            <div class="form-group-my">
                <label for="id_room">Кімната:</label>
                {{ form.room }}
            </div>
            <div class="form-group-my">
                <label for="id_start_date">Дата заїзду:</label>
                {{ form.start_date }}
            </div>
            <div class="form-group-my">
                <label for="id_last_date">Дата виїзду:</label>
                {{ form.last_date }}
            </div>
            <div class="form-group-my">
                <label for="id_price">Ціна:</label>
                {{ form.price }}
            </div>
            <button type="submit" class="btn btn-my m-3">Забронювати</button>
        </form>        
    </div>
</center>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% if messages %}
        {% for message in messages %}
        Swal.fire({
            title: {% if message.tags == 'error' %}'Помилка!'{% elif message.tags == 'success' %}'Успіх!'{% else %}'Повідомлення'{% endif %},
            text: '{{ message }}',
            icon: {% if message.tags == 'error' %}'error'{% elif message.tags == 'success' %}'success'{% else %}'info'{% endif %},
            showCancelButton: {% if message.tags == 'error' %}true{% else %}false{% endif %},
            confirmButtonText: {% if message.tags == 'error' %}'OK'{% else %}'OK'{% endif %},
            cancelButtonText: 'Відміна',
        })
        {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}