{% extends "booking/base.html" %}

{% block title %}
Реєстрація
{% endblock %}

{% block content %}
<style>
    input {
        border: 2px solid cadetblue
    }
    input:user-invalid {
        border-color: red;
    }

    /* Общий стиль для карточки */
    .card-my {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 20px auto;
        text-align: left;
    }

    /* Заголовок */
    .card-my h3 {
        text-align: center;
        font-family: 'Arial', sans-serif;
        color: #333;
        margin-bottom: 20px;
    }

    /* Форм-группы */
    .form-group-my {
        margin-bottom: 15px;
    }

    /* Метки */
    .form-group-my label {
        font-size: 16px;
        color: #555;
        margin: 5px;
    }

    /* Поля ввода */
    .form-control-my {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        transition: all 0.3s ease;
    }

    .form-control-my:focus {
        border-color: #71a298;
        box-shadow: 0 0 5px rgba(113, 162, 152, 0.5);
        outline: none;
    }

    /* Кнопка */
    .btn-my {
        border: none;
        background-color: #5b8f7e;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease;
    }

    .btn-my:hover {
        background-color: #417a67;
    }

</style>

<center>
    <div class="card-my" style="max-width: 500px;">
        <h3>Заповніть форму для продовження</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group-my">
                <label for="id_username">Юзернейм не може містити пробіли:</label>
                {{ form.username }}
            </div>
            <div class="form-group-my">
                <label for="id_email">Пошта:</label>
                {{ form.email }}
            </div>
            <div class="form-group-my">
                <label for="id_password1">Пароль:</label>
                {{ form.password1 }}
            </div>
            <div class="form-group-my">
                <label for="id_password2">Повторіть пароль:</label>
                {{ form.password2 }}
            </div>
            <button type="submit" class=" btn btn-my m-3">Додати</button>
        </form>
    </div>
</center>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% if messages %}
        {% for message in messages %}
        Swal.fire({
            title: 'Помилка!',
            text: '{{ message }}',
            showCancelButton: true,
            confirmButtonText: 'Увійти',
            cancelButtonText: 'Відміна',
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "{% url 'request_login' %}"; // Замените 'login' на URL входа
            }
        });
        {% endfor %}
        {% endif %}
    });
</script>


{% endblock %}