{% extends "booking/base.html" %}

{% block title %}
Новий готель
{% endblock %}

{% block content %}
<style>
    input {
        border: 2px solid cadetblue
    }
    input:user-invalid {
        border-color: red;
    }

    /* Общий стиль для карточки */
    .card-my {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 20px auto;
        text-align: left;
    }

    /* Заголовок */
    .card-my h3 {
        text-align: center;
        font-family: 'Arial', sans-serif;
        color: #333;
        margin-bottom: 20px;
    }

    /* Форм-группы */
    .form-group-my {
        margin-bottom: 15px;
    }

    /* Метки */
    .form-group-my label {
        font-size: 16px;
        color: #555;
        margin: 5px;
    }

    /* Поля ввода */
    .form-control-my {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        transition: all 0.3s ease;
    }

    .form-control-my:focus {
        border-color: #71a298;
        box-shadow: 0 0 5px rgba(113, 162, 152, 0.5);
        outline: none;
    }

    /* Кнопка */
    .btn-my {
        border: none;
        background-color: #5b8f7e;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease;
    }

    .btn-my:hover {
        background-color: #417a67;
    }
</style>

<center>
    <div class="card-my" style="max-width: 500px;">
        <h3>Заповніть форму для створення готелю</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group-my">
                <label for="id_name">Назва готелю:</label>
                {{ form.name }}
            </div>
            <div class="form-group-my">
                <label for="id_about">Про готель:</label>
                {{ form.about }}
            </div>
            <div class="form-group-my">
                <label for="id_admin">Адмін:</label>
                {{ form.admin }}
            </div>
            <div class="form-group-my">
                <label for="id_adress">Адреса:</label>
                {{ form.adress }}
            </div>
            <button type="submit" class="btn btn-my m-3">Додати</button>
        </form>
    </div>
</center>

<p><a href="{% url 'hostels' %}">Повернутися до списку готелів</a></p>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% if messages %}
        {% for message in messages %}
        Swal.fire({
            title: 'Повідомлення!',
            text: '{{ message }}',
            icon: 'info',
            confirmButtonText: 'OK'
        });
        {% endfor %}
        {% endif %}
    });
</script>

{% endblock %}
