{% extends "booking/base.html" %}

{% block title %}Готелі{% endblock %}

{% block content %}
    {% if hostel %}
    <div class="d-flex flex-wrap gap-3 justify-content-start">
        {% for i in hostel %}
            <div class="alert mb-3 mt-4 p-4 rounded shadow" style="width: 300px;">
                    <h3 class="alert-heading"><a href="{% url 'show_detail_hostel' i.id %}" style="text-decoration: none; color: inherit;">{{ i.name }}</a></h3>
                    <p style="font-size: small;">{{ i.admin }}</p>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="text-center mt-4">
            <h3>Нажаль немає данних</h3>
            <p>Ми працюємо над оновленням.</p>
            <img src="media/media/no-data.png" alt="No data" style="max-width: 300px; margin-top: 20px;">
        </div>
    {% endif %}
    {% if request.session.username %}
    <center>
        <p class="btn mt-4" style="background-color: #71a298; color: white;"><a href="{% url 'new_hotel' %}" style="text-decoration: none; color: inherit;">Додати готель</a></p>
    </center>
    {% endif %}
    
{% endblock %}