{% extends "booking/base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
<style>
    /* Общий стиль для карточки */
    .card-my {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 20px auto;
        text-align: left;
    }

    /* Заголовок */
    .card-my h3 {
        text-align: center;
        font-family: 'Arial', sans-serif;
        color: #333;
        margin-bottom: 20px;
    }

    /* Форм-группы */
    .form-group-my {
        margin-bottom: 15px;
    }

    /* Метки */
    .form-group-my label {
        font-size: 16px;
        color: #555;
        margin: 5px;
    }

    /* Поля ввода */
    .form-control-my {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        width: 100%;
        font-size: 14px;
        transition: all 0.3s ease;
    }

    .form-control-my:focus {
        border-color: #71a298;
        box-shadow: 0 0 5px rgba(113, 162, 152, 0.5);
        outline: none;
    }

    /* Кнопка */
    .btn-my {
        border: none;
        background-color: #5b8f7e;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        color: white;
        transition: all 0.3s ease;
    }

    .btn-my:hover {
        background-color: #417a67;
    }

    /* Сообщения об ошибках */
    .error-list {
        color: red;
        margin-top: 10px;
    }

    .error-list li {
        list-style-type: none;
    }
</style>

<center>
    <div class="card-my" style="max-width: 500px;">
        <h3>Заповніть форму для входу</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group-my">
                <label for="id_email">Електронна пошта:</label><br>
                {{ form.email }}
            </div>
            <div class="form-group-my">
                <label for="id_password">Пароль:</label><br>
                {{ form.password }}
            </div>
            <button type="submit" class="btn-my m-3">Увійти</button>
        </form>
        {% if form.errors %}
            <ul class="error-list">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</center>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% if messages %}
        {% for message in messages %}
        Swal.fire({
            title: {% if message.tags == 'error' %}'Помилка!'{% elif message.tags == 'success' %}'Успіх!'{% else %}'Повідомлення'{% endif %},
            text: '{{ message }}',
            icon: {% if message.tags == 'error' %}'error'{% elif message.tags == 'success' %}'success'{% else %}'info'{% endif %},
            showCancelButton: {% if message.tags == 'error' %}true{% else %}false{% endif %},
            confirmButtonText: {% if message.tags == 'error' %}'OK'{% else %}'OK'{% endif %},
            cancelButtonText: 'Відміна',
        })
        {% endfor %}
        {% endif %}
    });
</script>


{% endblock %}
